<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Blog" type="com.hcsp.gsspring.entity.Blog"/>
        <typeAlias alias="User" type="com.hcsp.gsspring.entity.User"/>
    </typeAliases>
    <mappers>
        <mapper class="com.hcsp.gsspring.mapper.UserMapper"/>
        <mapper resource="mybatis/mapper/BlogMapper.xml"/>
    </mappers>
</configuration>